body {
    padding-top: 4.5rem; /* Navbar yüksekliği */
    background-color: #f8f9fa; /* Arka plan rengi */
}

.navbar-brand {
    font-size: 1.5em;
    color: #ffffff; /* Navbar metin rengi */
    background-color: #ffffff; /* Navbar arka plan rengi */
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-link {
    font-size: 18px;
}

.text-end {
    text-align: right;
}

.input-group-append {
    align-items: center; /* Dikey hizalama ortalaması için */
    display: flex; /* Flexbox kullanarak öğeleri hizalar */
}

@media (min-width: 992px) {
    body {
        padding-top: 70px; /* Sabit navbar yüksekliği için 992px ve üzeri ekranlar */
    }
}