<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="~/Default/Index">Stok Takip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Product/Index">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Customer/Index">Müşteriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Category/Index">Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Staff/Index">Personeller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Sale/Index">Satışlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Yardım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayarlar</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Araştır..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
            </form>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
